main{
    margin: auto;
    padding: 10px 5px;
    max-width: 700px;
}

container-image{
    width: 100vh;
    height: auto;
    object-fit: cover;
}

#image{
    width: 100%;
    height: auto;
    object-fit: cover;
}

section{
    text-align: center;
}

section h1{
    font-weight: 100;
    font-size: 4vh;
}

section h1, .container-buttons {
    padding: 10px 0px 10px 0px;
}

section .container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}